<!-- Top Header -->

<div class="navbar navbar-expand-lg  nav">

    <a class="navbar-brand left__icons ml-5" href="#">
      <img src="assets/top__logo/BCCI.png" class="bbci__log" alt="">
      <span class="bcci__text ml-2">BCCI.TV</span>
    </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  
    <div class="icons__container right__icons mr-5">
      <span class="mx-1 follow_text">Follows Us</span>
      <span class="mx-1 icons">
        <a href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </span>
      <span class="mx-1 icons">
        <a href="#">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </span>
      <span class="mx-1 icons">
        <a href="#">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </span>
    </div>
  
  </div>
  
  
  
  
  
  