img{
    height: 90vh;
}

.custom__absolute{
    height: 30%;
    width: 30%;
    position: absolute !important;
    bottom: 150px;
    left: 0;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    letter-spacing: 2px;

}
.text_details{
    font-size: 3rem;

}

button{
    transform:skew(-15deg);
}


